@model List<SystemAdmin.UI.Models.get_cuentaPorCobrar_Result>
@{ ViewBag.Title = "Cuentas Por Cobrar";
    Layout = "~/Views/Layouts/Layout.cshtml"; }


<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<div class="row row-cols-1 row-cols-md-5 g-4">
    <!--foreach clientes-->
    @foreach (var oELemento in Model)
    {
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/Assets/img/Cuenta.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title">@oELemento.codigo</h5>
                    <p class="card-text">Cliente =  @oELemento.cedula</p>
                    <p class="card-text">Plazo =  @oELemento.plazo</p>
                    <p class="card-text">Vencimiento =  @oELemento.vencimiento</p>
                    <p class="card-text">Saldo =  @oELemento.saldo</p>

                    <p class="card-text">Factura =  @oELemento.idFactura</p>
                    <p class="card-text">Abono =  @oELemento.codigoAbono</p>


                    <button type="button" class="btn btn-danger btn-lg">Borrar</button>
                </div>
            </div>
        </div>

    }

</div>
