@model List<SystemAdmin.UI.Models.get_clientes_Result>
@{
    ViewBag.Title = "Créditos";
    Layout = "~/Views/Layouts/Layout.cshtml";
}


<section class="project-team">
    <div class="container">
        <div class="intro">
            <h2 class="text-center fa-4x">Proyecto SystemAdmin</h2><br /><br />
            <p class="text-center">El presente proyecto fue diseñado con la finalidad de estudiar, comprender e implementar los conocimiento adquiridos a lo largo del curso "Bases de Datos 1" y de esta manera poder generar una idea de como sería una posible implementación de un sistema de administración en producción</p>
        </div>
    </div>
</section>

<section class="project-team">
    <div class="container">
        <div class="row">
            <div class="col-md-pull-11">
                <h2>Profesora:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <p>Marlen Treviño</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-pull-11">
                <h2>Diseñado por:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1">
                <p>Breiner Carranza</p>
                <p>Daniel Hoffman "Z"</p>
                <p>Verónica Quesada</p>
            </div>
        </div>
    </div>

</section>
<section>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Saldo General</th>
                        <th>Distrito ID</th>
                        <th>Direccion Exacta</th>
                    </tr>
                    @foreach (var oELemento in Model)
                    {
                <tr>
                    <td>@oELemento.cedula</td>
                    <td>@oELemento.nombre</td>
                    <td>@oELemento.saldoGeneral</td>
                    <td>@oELemento.idDistrito</td>
                    <td>@oELemento.direccionExacta</td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </section>
